div#container {
}

div#gameConsole {
    background: white;
    width: 475px;
    height: 50px;
    margin: 40px auto;
    border: 3px solid gray;
    border-radius: 10px;
    text-align: center;
}

/* gameBoard style */
#gameBoard {
    background: black;
    width: 475px;
    margin: 0 auto;
    overflow: hidden;
}

/* gameBox style */
.gameBox {
    background: white;
    width: 150px;
    height: 150px;
    margin: 4px;
    float: left;
}

.active {
    background: #CCCCCC;
}

/* Image styles for alphabet letters */
.A {
    content: url("../images/letterA.gif");
}

.C {
    content: url("../images/letterC.gif");
}

.E {
    content: url("../images/letterE.gif");
}

.I {
    content: url("../images/letterI.gif");
}

.O {
    content: url("../images/letterO.gif");
}

.T {
    content: url("../images/letterT.gif");
}

.X {
    content: url("../images/letterX.gif");
}
