div#container {
}

/* Display styling */
div#gameConsole {
    background: black;
    width: 200px;
    height: 30px;
    margin: 30px auto;
    border: 3px solid gray;
    border-radius: 10px;
    text-align: center;
}

h1, h2, h3, h4 {
    display: inline;
    font-family: Arial, sans-serif;
    color: white;
}

/* gameBoard style */
#gameBoard {
    background: black;
    width: 475px;
    margin: 0 auto;
    overflow: hidden;
}

/* gameBox style */
.square {
    background: white;
    width: 150px;
    height: 150px;
    margin: 4px;
    float: left;
}

.active {
    background: gray;
}

/* Image styles for alphabet letters */
.A {
    content: url("../images/letterA.gif");
}

.C {
    content: url("../images/letterC.gif");
}

.E {
    content: url("../images/letterE.gif");
}

.I {
    content: url("../images/letterI.gif");
}

.O {
    content: url("../images/letterO.gif");
}

.T {
    content: url("../images/letterT.gif");
}

.X {
    content: url("../images/letterX.gif");
}

.emptyTile { /* Used to clear contents of game board. X and O are below this so cascading does not effect them for play tiles */
    content: "";
}

.O {
    content: url("../images/letterO.gif");
}

.X {
    content: url("../images/letterX.gif");
}